# Exercice Python

## Le compte bancaire

In [54]:
import numpy as np

In [2]:
class CompteBancaire:
    nom = ""
    solde = 0
    
    
    def __init__(self,n='Dupont',s=1000):
        self.nom = n
        self.solde = s
        
    def depot(self,x):
        self.solde += x
        #return ("{}, votre slode actuel est de {} euros".format(self.nom,solde))
        
    def retrait(self,n):
        self.solde = self.solde-n
        #return ("{}, votre slode actuel est de {} euros".format(self.nom,solde))
        
    def affiche(self):
        return ("Le solde du compte bancaire de {} est de {} euros.".format(self.nom, self.solde))

In [3]:
compte1 = CompteBancaire('Duchmol', 800)
compte1.depot(350)
compte1.retrait(200)
compte1.affiche()

'Le solde du compte bancaire de Duchmol est de 950 euros.'

In [4]:
compte2 = CompteBancaire()
compte2.depot(25)
compte2.affiche()

'Le solde du compte bancaire de Dupont est de 1025 euros.'

## La surcharge d'opérateur

In [21]:
class Point:
    x=0
    y=0
    
    def __init__(self,x,y,z=None):
        self.x= x
        self.y= y
        self.z= z
    
    def ToString(self):
        if self.z is None:
             return ("P(%f,%f)"%(self.x,self.y))
        else:
             return ("P(%f,%f,%f)"%(self.x,self.y,self.z))

In [22]:
p1 = Point(2,3)

In [23]:
p1.ToString()

'P(2.000000,3.000000)'

In [24]:
p2 = Point(2,-5,3)

In [25]:
p2.ToString()

'P(2.000000,-5.000000,3.000000)'

## L'héritage simple

In [73]:
from datetime import datetime

class DateNaissance:
    dateN =0
    
    def __init__(self,j,m,a):
        dt = "%s/%s/%s"%(j,m,a)
        print(dt)
        self.dateN = datetime.strptime(dt, '%d/%m/%Y')
        self.dateN = self.dateN.strftime('%d/%m/%Y')
    
    def ToString(self):
        return("{}".format(self.dateN))

In [74]:
c = DateNaissance(1,7,1995)
c.ToString()

1/7/1995

'01/07/1995'